---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hello Intrepid Adventurer!</h1>
      <p>
        Hey there. My name is Derrick and I'm a software developer living on
        Vancouver Island, British Columbia. I've been making software and more
        for quite a while, sometimes poorly, sometimes not. But it's always fun.
      </p>
      <p>
        Looking for something to <a href="/blog">read?</a>
      </p>
      <p>
        Maybe you want to see some of the things <a href="/bits_and_bobs">I've created?</a>
      </p>
    </main>
    <Footer />
  </body>
</html>
